@import "tailwindcss";

@font-face {
    font-family: 'Bestermind';
    src: url(assets/fonts/BestermindRegular.ttf);
}
@font-face{
    font-family: 'Inter-black';
    src: url(assets/fonts/Inter_Black.ttf)
}
@font-face{
    font-family: 'Inter';
    src: url(assets/fonts/Inter_18pt-Medium.ttf)
}
*{
    font-family: 'Inter';
}
.company{
display: flex;
}